{% macro render_pagination(pagination) %}
  <div class="pagination">
    {% if pagination.has_prev %}
      <a href="{{ pagination.prev|url }}">&laquo; Next</a>
    {% else %}
      <span class="disabled">&laquo; Next</span>
    {% endif %}
    | {{ pagination.page }}/{{ pagination.total}} |
    {% if pagination.has_next %}
      <a href="{{ pagination.next|url }}">Previous &raquo;</a>
    {% else %}
      <span class="disabled">Previous &raquo;</span>
    {% endif %}
  </div>
{% endmacro %}
