{% macro render_project(post, from_index=false) %}
  <div class="project">
  {% if from_index %}
    <h2><a href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2>{{ post.title }}</h2>
  {% endif %}
  <p class="meta">
    by
      {{ post.authors }}
    in {{ post.year.strftime('%Y') }}
  </p>
  {{ post.body }}
{% for image in post.attachments.images %}
  <div class="image"><img src="{{ image|url }}"></div>
{% endfor %}
  </div>
{% endmacro %}
