<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<title>+ Jonáš Svatoš + {% block title %}{% endblock %}</title>
<body>
  <header>
    <a href="{{ '/'|url }}"><h1>Jonáš Svatoš</h1></a>
    <nav>
      <ul class="nav navbar-nav">
        {% for href, title in [
          ['/about', 'About'],
          ['/contact', 'Contact details'],
          ['/cv', 'CV'],
          ['/projects', 'Projects'],
          ['/presentations', 'Selected presentations'],
          ['/blog', 'Blog']
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif
            %}><a href="{{ href|url }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class="page">
    {% block body %}{% endblock %}
  </div>
  <footer>
  </footer>
</body>
