h2 a { border-bottom: 2px solid #999; }
a {
  border-bottom: 1px solid #999;
  text-decoration: none;
}

body, a { color: #222; }

p { margin: 0px 0px 5px; }
ul li, p, em, div.description { font-size: 13px; font-style: normal; }

body {
  font-family: "Times New Roman", times, serif;
  line-height: 1.3;
  text-align: left;
}

header, footer, div.page {
  width: 600px;
  margin: 0 auto;
  padding: 20px 30px;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 42px;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
}

div.page {
}

img {
  margin-top: 30px;
}
